body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Audiowide", sans-serif;
  background-repeat:repeat-y;
  background-size:100%;
  background-image: url(https://img.freepik.com/free-vector/futuristic-technological-background_79603-1097.jpg?w=1060&t=st=1658832362~exp=1658832962~hmac=9e40bbead8c3a78307d9b79ff3843f4f1307cda1540df4275ab61d01e6b92dd5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#navlink{
  color: aliceblue;
  text-decoration: none;
}
h1,p{
  color: bisque;
  font-family: "Audiowide", sans-serif;
  text-align: center;
  
}
h2{
  color: antiquewhite;
  font-family: "Audiowide", sans-serif;
  padding-left: 10%;
}
.backGround{
  background-color: dimgray;
}
.onlyFont{
  color: bisque;
  font-family: "Audiowide", sans-serif;
  text-align: center;
}
.spaceleft20{
  padding-left: 20%;
}

.padThis{
  padding: 5%;
}

.centerThis{
  color: bisque;
  font-family: "Audiowide", sans-serif;
  text-align: center;
}
/* @media (max-width: 900px) {
  .carousel {
    width:auto;
    height:fit-content;
    max-width: 900px;

  }
} */
